* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background: #f3f5f5;
  padding: 0 15px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #d08b56;
}

.home-models {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.home-models li a {
  display: block;
  padding: 0.5em;
}

.logo {
  flex: 3;
  padding: 0;
}
.lo {
  width: 2rem;
  height: auto;
  padding: 0;
  margin-right: 5rem;
}

.nav-item {
  flex: 4;
}

.nav-search {
  flex: 1;
}

.search-button,
.login-button,
.cart-button,
.logout-button {
  padding: 0;
  border: none;
  background: none;
}

.white-ride {
  width: 100%;
}

.footer-text {
  text-align: center;
}

.single-car {
  background-image: url('hayden-walker-fgpg3KzFrQY-unsplash.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.inner {
  text-align: center;
}

.single-model {
  padding: 0.3rem;
}
.single-description {
  color: whitesmoke;
  padding: 0.3rem;
}
.single-price {
  padding: 0.3rem;
}

.add-car-cart {
  width: 8rem;
  height: auto;
  padding: 0.3rem;
}

.hot-cars {
  padding: 4rem;
  width: 100%;
  height: auto;
}

.hot-car-name {
  font-family: fantasy;
  font-size: 2rem;
  padding: 0.25rem;
  text-align: center;
}

.hot-car-money {
  padding: 0.25rem;
  text-align: center;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Cart-image {
  height: 15rem;
  width: auto;
}

.Cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

h3 {
  text-align: center;
}
